<nav>
    <ul class="pagination">
        <li class="page-item">
            <a
                (click)="currentPage = currentPage - 1"
                class="page-link"
                [appClass]="{ disabled: currentPage === 0 }"
                >Prev</a
            >
        </li>
        <ng-container *appTimes="images.length; let idx = index">
            <li
                (click)="currentPage = idx"
                class="page-item"
                [appClass]="{ active: idx === currentPage }"
                *ngIf="checkWindowIndex(idx)"
            >
                <a class="page-link">{{ idx + 1 }}</a>
            </li>
        </ng-container>
        <li class="page-item">
            <a
                (click)="currentPage = currentPage + 1"
                class="page-link"
                [appClass]="{ disabled: currentPage === images.length - 1 }"
                >Next</a
            >
        </li>
    </ul>
</nav>

<div>
    <h4>{{ images[currentPage].title }}</h4>
    <img [src]="images[currentPage].url" alt="nav-img" />
</div>
